body {
    background-color: #7EA1C4; 
    color: #051122;
    padding: 50px;
    font-size: 18px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}


.sr-only {
    border:0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container{
    margin: 0 auto;
    max-width: 960px;
}

aside {
    float: right;
    margin: 0 0 250px 270px;
}

aside img {
    width: 300px;
    height: 291px;
    display: block;
}

section::after {
    content: "";
    display: block;
    clear: both;
}

a:link {
    color:#1B365C; 
}
  
a:visited {
    color: rgb(68, 4, 68); 
}

